<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Quản Lý Ký Túc Xá</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<link th:href="@{~/style.css}" rel="stylesheet" href="../static/style.css" />
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="/">Trang Chủ</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="/room">Quản Lý Phòng</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="/student">Quản Lý Sinh Viên</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="/service">Quản Lý Dịch Vụ</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="/rent">Thuê Phòng</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="/usedService">Sử Dụng Dịch Vụ</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="/visitor">Quản Lý Khách</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="/motorcycle">Quản Lý Xe</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="/ticket">Quản Lý Vé Xe</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="/parking">Quản Lý Gửi Xe</a>
				</li>
			</ul>
		</div>
	</nav>


	<div class="container">
		<h1>Danh Sách Xe </h1>
		<div class="d-flex justify-content-between">
			<h3><a class="btn btn-outline-primary" th:href="@{/motorcycle/addMotorcycle}">Thêm Xe</a></h3>

			<form method="POST" th:action="@{/motorcycle/findMotorcycleByType}">
				<label for="name">Loại: </label>
				<input type="text" name="type" />
				<input type="submit" value="Tìm Kiếm" />
			</form>
		</div>

		<Table class="table table-hover table-bordered align-middle text-center mt-2">
			<tr class="table-secondary">
				<th>ID</th>
				<th>Sinh Viên</th>
				<th>Loại Xe</th> 
				<th>Biển Số Xe</th>
				<th colspan="2">Action</th>

			</tr>
			<tr th:each=" list : ${listMotorcycle}">
				<td th:text=" ${list.id}">
				</td>
				<td th:text="${list.studentMoto.fullname}"></td>
				<td th:text="${list.type}"></td>
				<td th:text="${list.licencePlate}"></td>
				<td><a class="btn btn-link" th:href="@{/motorcycle/editMotorcycle(id = ${list.id})}">Sửa</a></td>
				<td><a class="btn btn-link" th:href="@{/motorcycle/deleteMotorcycle(id = ${list.id})}">Xóa</a></td>
			</tr>
		</Table>
	</div>

</body>

</html>