<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Quản Lý Kí Túc Xá</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<link th:href="@{~/style.css}" rel="stylesheet" href="../static/style.css" />
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="/">Trang Chủ</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="/room"
              >Quản Lý Phòng</a
            >
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="/student"
              >Quản Lý Sinh Viên</a
            >
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="/service"
              >Quản Lý Dịch Vụ</a
            >
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="/rent">Thuê Phòng</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="/usedService"
              >Sử Dụng Dịch Vụ</a
            >
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="/visitor"
              >Quản Lý Khách</a
            >
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="/motorcycle"
              >Quản Lý Xe</a
            >
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="/ticket"
              >Quản Lý Vé Xe</a
            >
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="/parking"
              >Quản Lý Gửi Xe</a
            >
          </li>
        </ul>
      </div>
    </nav>

	<div class="container">
		<h1>Danh Sách Phòng </h1>

		<div class="d-flex justify-content-between">
			<h3><a class="btn btn-outline-primary" th:href="@{/room/addRoom}">Thêm Phòng</a></h3>
			<form method="POST" th:action="@{/room/findRoomByUnitPrice}" id="form">
				<div class = "formSelectInput" style="position: relative">
					<label for="name">Đơn Giá: </label>
					<input type="text" name="unitPrice" class="priceNumber"/>
					<span style="position: absolute; top: 100%; left: 20%; color: red; " class="form-message"></span>
				<input type="submit" value="Tìm Kiếm" />
				</div>
			</form>
		</div>


		<Table class="table table-hover table-bordered align-middle text-center mt-4">
			<tr class="table-secondary">
				<th>ID</th>
				<th>Số Phòng</th>
				<th>Loại Phòng</th>
				<th>Đơn Giá</th>
				<th>Số Người Tối Đa</th>
				<th colspan="2">Action</th>

			</tr>
			<tr th:each=" list : ${listRoom}">
				<td th:text=" ${list.id}">
				</td>
				<td th:text="${list.roomNumber}"></td>
				<td th:text="${list.type}"></td>
				<td th:text="${list.unitPrice}"></td>
				<td th:text="${list.maxPeople}"></td>
				<td><a class="btn btn-link" th:href="@{/room/editRoom(id = ${list.id})}">Sửa</a></td>
				<td><a class="btn btn-link" th:href="@{/room/deleteRoom(id = ${list.id})}">Xóa</a></td>
			</tr>
		</Table>
	</div>
<script type="text/javascript">
    function Validator(options){

        function getParent(element , selector){
            while(element.parentElement){
                if(element.parentElement.matches(selector)){
                    return element.parentElement
                }
                element = element.parentElement
            }
        }

        var selectorRules={}


        function Validate(inputElement,rule){
            var errorMessage ;
            var rules = selectorRules[rule.selector]
            for(var i=0; i<rules.length;i++){

                switch(inputElement.type){
                    case 'radio':
                    case 'checkbox':
                        errorMessage = rules[i](
                            document.querySelector(rule.selector + ':checked')
                        )
                        break;
                    default:
                        errorMessage = rules[i](inputElement.value)
                }

                if(errorMessage) break
            }
            if(errorMessage){
                getParent(inputElement,options.formGroupSelector).querySelector(options.errorSelector).innerText = errorMessage
                getParent(inputElement,options.formGroupSelector).classList.add('invalid')
            }
            else{
                getParent(inputElement,options.formGroupSelector).querySelector(options.errorSelector).innerText = ''
                getParent(inputElement,options.formGroupSelector).classList.remove('invalid')
            }
            return !errorMessage
        }

        var formElement = document.querySelector(options.form);
        if(formElement){

            formElement.onsubmit = function(e){
                e.preventDefault(); 
                var isFormValid = true;

                options.rules.forEach(rule =>{
                    var inputElement = formElement.querySelector(rule.selector)
                    var isValid = Validate(inputElement,rule)
                    if(!isValid){
                        isFormValid = false
                    }
                    
                })

                if(isFormValid){
                    if(typeof options.onSubmit === 'function'){
                        var enableInputs = formElement.querySelectorAll('[name]');
                        var formValues = Array.from(enableInputs).reduce((values,input)=>{
                            switch(input.type){
                                case 'radio':
                                    if(input.matches(':checked')) values[input.name]=input.value                              
                                    break
                                case 'checkbox':                              
                                    if(!Array.isArray(values[input.name])){
                                        values[input.name]=[]
                                    }
                                    if(input.matches(':checked')){
                                        values[input.name].push(input.value)
                                    }                                                              
                                    break
                                default:
                                    values[input.name]=input.value

                            }
                            return values
                        },{})
                        options.onSubmit(formValues)
                    }
                    else{
                        formElement.submit()
                    }
                }

            } 


            options.rules.forEach(rule => {

                if(Array.isArray(selectorRules[rule.selector])){
                    selectorRules[rule.selector].push(rule.test)
                }
                else{
                    selectorRules[rule.selector]= [rule.test]
                }

                var inputElements = formElement.querySelectorAll(rule.selector)
                Array.from(inputElements).forEach(inputElement =>{
                    if(inputElement){
                        inputElement.onblur = function(){
                            Validate(inputElement,rule)
                        }
                        inputElement.oninput = function(){
                            getParent(inputElement,options.formGroupSelector).querySelector(options.errorSelector).innerText = ''
                            getParent(inputElement,options.formGroupSelector).classList.remove('invalid')
                        }
                    }
                })
            });
            
        }
    }


    // Định nghĩa các rules
    Validator.isRequired = function(selector){
        return{
            selector:selector,
            test: function(value){
                return value ? undefined : 'Vui lòng nhập trường này'
            }
        }
    }
    Validator.isNumber = function(selector){
        return{
            selector:selector,
            test: function(value){
                return /^[0-9]+$/.test(value) ? undefined :'Vui lòng nhập đúng kiểu số'
            }
        }
    }
    Validator.isCMT = function(selector){
        return{
            selector:selector,
            test: function(value){
                return /^\d{12}$/.test(value) ? undefined :'Vui lòng nhập đúng CMT'
            }
        }
    }

    
    </script>
  	<script type="text/javascript">
  	Validator({
        form: '#form',
        formGroupSelector: '.formSelectInput',
        errorSelector: '.form-message',
        rules: [
        	Validator.isRequired('.priceNumber'),
            Validator.isNumber('.priceNumber'),
        ],
    })
  	</script>

</body>

</html>